1. Создать класс VacancyList, состоящий из полей area,id,name,salary. Поле area содержит список названий регионов публикации вакансий, id - список id вакансий, name - список названий вакансий, salary - список средних зарплат.
2. Определить метод fill(area=1,text='Meнеджер'), заполняющий объект этого класса 100 вакансиями из региона с кодом area, и текстом, содержащим text.
3. Определить метод max_vacancy(), распечатывающий название вакансии с максимальной зарплатой
4. Создать объект класса VacancyList, заполнить его вакансиями, и вывести название вакансии с максимальной зарплатой.

In [ ]:
import requests
import numpy as np

In [ ]:
def clean_salary(fn):
      def wrp(arg):
        result=fn(arg)
        if (result is None) or (arg['salary']['gross'] is False):
          return result
        else:
          result*=0.87
          return result
      return wrp

@clean_salary
def get_salary(vacancy):
  if(vacancy['salary']['from'] is not None) and (vacancy['salary']['to'] is not None):
    return np.mean([vacancy['salary']['from'],vacancy['salary']['to']])
  elif vacancy['salary']['from'] is not None:
    return vacancy['salary']['from']
  elif vacancy['salary']['to'] is not None:
    return vacancy['salary']['to']
  else:
    return 0

In [ ]:
class VacancyList(object):
  def __init__(self):
    self.area=None
    self.id=None
    self.name=None
    self.salary=None

  def fill(self,area=1,text='Менеджер'):
    url=f'https://api.hh.ru/vacancies?text={text}&area={area}&search_field=name&per_page=100'
    data=requests.get(url).json()['items']
    self.area=[x['area']['name'] for x in data]
    self.id=[x['id'] for x in data]
    self.name=[x['name'] for x in data]
    self.salary=[get_salary(x) if x['salary'] is not None else 0 for x in data]

  def max_vacancy(self):
    print(self.name[self.salary.index(max(self.salary))])

In [ ]:
vl=VacancyList()
vl.fill(2,'Разработчик')
vl.name
vl.max_vacancy()

C++ developer (Senior)

1. Сделать класс VacancyList_M1 на основе исходного VacancyList, и перегрузить для него оператор +, так чтобы объекты VacancyList_M1 можно было складывать. При этом в получаемом объекте списки всех полей конкатенируются.
2. Создать два объекта этого класса из Москвы и Санкт-Петербурка, и сложить их. Вывести список уникальных городов в полученном объекте.

In [ ]:
class VacancyList_M1(VacancyList):
  def __add__(self,other):
    vacancies_total=VacancyList_M1()
    vacancies_total.area=self.area+other.area
    vacancies_total.id=self.id+other.id
    vacancies_total.name=self.name+other.name
    vacancies_total.salary=self.salary+other.salary
    return vacancies_total

In [ ]:
vl_msc=VacancyList_M1()
vl_msc.fill(1,'Разработчик')
vl_spb=VacancyList_M1()
vl_spb.fill(2,'Разработчик')

In [ ]:
vl=vl_msc+vl_spb
set(vl.area)

{'Москва', 'Санкт-Петербург'}

In [ ]:
dir(vl_msc);

Создать класс VacancyList_M2 на основе исходного VacancyList, и перегрузить для него оператор getitem, так чтобы по обращению к объекту по индексу возвращался кортеж из area,id,name,salary.

In [ ]:
class VacancyList_M2(VacancyList):

  def __getitem__(self,key):
    return (self.area[key],self.id[key],self.name[key],self.salary[key])

In [ ]:
vlm2=VacancyList_M2()
vlm2.fill()
vlm2[3]

('Москва', '71325711', 'Менеджер по продажам', 220000.0)

Cделать класс VacancyList_M3 на основе множественного наследования от VacancyList_M1 и VacancyList_M3. Создать два объекта этого класса и заполнить их вакансиями Москвы и Санкт-Петербурга. Сложить из них новый объект и вывести его значение для индекса = 110.

In [ ]:
class VacancyList_M3(VacancyList_M2,VacancyList_M1):
  def __add__(self,other):
    vacancies_total=VacancyList_M3()
    vacancies_total.area=self.area+other.area
    vacancies_total.id=self.id+other.id
    vacancies_total.name=self.name+other.name
    vacancies_total.salary=self.salary+other.salary
    return vacancies_total

In [ ]:
vl3=VacancyList_M3()
vl3.fill(1)
vl4=VacancyList_M3()
vl4.fill(2)
vl5=vl3+vl4
vl5[110]

('Санкт-Петербург',
 '71326806',
 'Ведущий менеджер по продажам (без поиска)',
 250000.0)

Сделать функцию получения списка вакансий по 100 штук, по заданному коду area и названию text. Сделать декоратор, позволяющий вызывать эту функцию 5 раз.

In [ ]:
def call_5_times(fn):
  def wrp(*args,**kwargs):
    result=[]
    for i in range(5):
      result+=fn(i)
    return result
  return wrp

@call_5_times
def get_vacancies(i=0,area=1,text='Менеджер'):
    url=f'https://api.hh.ru/vacancies?text={text}&area={area}&search_field=name&per_page=100&page={i}'
    data=requests.get(url).json()['items']
    return data

vacancies=get_vacancies()
print(len(set([x['id'] for x in vacancies])))

500